## Deliverable 3. Create a Travel Itinerary Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [20]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,16,Avarua,CK,30.03,few clouds,-21.2078,-159.7750,Paradise Inn
1,35,Ugoofaaru,MV,28.82,broken clouds,5.6667,73.0000,Ungoofaaru Inn
2,59,Noumea,NC,29.99,light rain,-22.2763,166.4572,Hôtel Le Lagon
3,74,Vanimo,PG,28.63,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
4,96,Alofi,NU,28.94,broken clouds,-19.0595,-169.9187,Taloa Heights

In [29]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and Temp Max {Max Temp} °C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [30]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Kita")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Kita")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Kolokani")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Banamba")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Markala")]

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 =vacation_stop1[["Lat","Lng"]].to_numpy()[0] 
stop2 =vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 =vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel= gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,251,Kita,ML,30.93,scattered clouds,13.0349,-9.4895,Hôtel Chat Rouge
1,695,Kolokani,ML,29.85,few clouds,13.5728,-8.0339,Lycee Famolo Coulibalibali De Kolokani
2,677,Banamba,ML,30.64,few clouds,13.5500,-7.4500,Kassela de Banamba
3,355,Markala,ML,32.38,scattered clouds,13.7021,-6.0659,Hôtel Igor

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and Temp Max {Max Temp} °C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(travel_marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))